{% extends 'stage.html' %}

{% block title %}
Cufflinks
{% endblock %}

{% set active='cufflinks' %}

{% block stage_note %}
<h2>Cufflinks</h2>
<p>Elit obcaecati velit voluptatum recusandae consequatur mollitia voluptatem impedit cupiditate blanditiis aperiam! Aliquid dolorum excepturi molestiae quis nemo. Maxime laudantium provident iste cupiditate quae recusandae eius fuga. Perspiciatis deserunt nam corporis facere nostrum pariatur in aut fugiat quaerat odit earum ducimus officiis esse quae dolore provident minus adipisci iste sit officia. Expedita quasi enim vero odit odit ea recusandae, ratione provident fugit amet eligendi vitae beatae eligendi officiis aspernatur dolor vel. Saepe cupiditate consequatur ipsam.</p>
<p class="text-right lead">more information on <a href="#">this page</a>.</p>
{% endblock %}

{% block panel %}
<div class="container-fluid">
</div><!-- /.container-fluid -->
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ static('css/cufflinks.css') }}">
{% endblock %}

{% block extra_js %}
{% endblock %}
