#tophat-detail
    margin: 20px 0;

    thead
        tr.sample-group
            th:not(:first-child)
                text-align: center
        tr.sample
            th:not(:first-child)
                text-align: right
    tbody
        tr th
        tr:not(.paired) td:not(:first-child)
            text-align: right
        tr.paired td
            text-align: center

        tr.paired-first
            th
            td
                border-top-width: 2px
